body {
  margin: 0;
  font-family: 'Segoe UI', 'Inter', 'Avenir Next', sans-serif;
  background-color: #eef5f4;
  color: #11221f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}